<!doctype html>
<html>
<body>
  <div class="query-area">
   <form action="/user" method="post">
     <input type="text" name="username">
     <button>click</button>
   </form>    
  </div>
  <div class="detail-area">
    <ul>
      <% friends.forEach(function(friend){ %> 
        <li><%= friend %></li>
      <% }) %>      
    </ul>

  </div>

</body>
</html>
